.cat-home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.card-catList{

}

.card-catList-header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-catList-name{
    font-size: 1.3em;
    font-weight: bold;
}

.card-catList-image-container{
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

.card-catList-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-catList-containerHeader{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}