<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border cat-home-header">
    <ion-title>Catbreeds</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-header>

  <ng-container [ngSwitch]="isLoading" id="container">
    <app-loading *ngSwitchCase="true"></app-loading>

    <div *ngSwitchCase="false">
      <ion-card *ngFor="let cat of catsList" class="card-catList">
        <ion-card-header class="card-catList-header">
          <div class="card-catList-containerHeader">
            <ion-card-title class="card-catList-name">{{ cat.name }}</ion-card-title>
            <span>Ver más</span>
          </div>

          <div class="card-catList-image-container">
            <img [src]="cat.image.url" alt="{{ cat.name }}" class="card-catList-image" />
          </div>
        </ion-card-header>

        <ion-card-content>
          <p>{{ cat.description }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
</ion-content>
